<nav class="navbar fixed-top mb-5 navbar-expand-lg ">
  <div class="container-fluid ">
    <a class="navbar-brand text-white active" aria-current="page" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse  navbar-collapse active " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white " routerLink="">Home</a>
        <a class="nav-link text-white" routerLink="add-user">Add User</a>
      </div>
      <div class="navbar-nav">
          <a class="d-flex nav-link " href="#"></a>
      </div>
    </div>
  </div>
</nav>
